<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--初始化过滤器-->
    <filter>
        <filter-name>InitFilter</filter-name>
        <filter-class>com.filter.InitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!--后台是否登录过滤器-->
    <filter>
        <filter-name>UserCentreFilter</filter-name>
        <filter-class>com.filter.UserCentreFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserCentreFilter</filter-name>
        <url-pattern>/u/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!--URL重写过滤器-->
    <filter>
         <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>
    </filter>
     <filter-mapping>
         <filter-name>UrlRewriteFilter</filter-name>
         <url-pattern>/*</url-pattern>
         <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!--全局错误处理-->
    <!--<error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>-->
</web-app>